{% macro render_task_badge(task) %}
    {% if task.status == 1 %}
        <span class="badge badge-success">Complete</span>
    {% elif task.priority == 0 %}
        <span class="badge badge-default">Low priority</span>
    {% elif task.priority == 2 %}
      <span class="badge badge-warning">Urgent</span>
    {% endif %}
{% endmacro %}
