{% macro render_task_badge(task) %}
    {% if task.status == 1 %}
        <span class="badge badge-success">Complete</span>
    {% elif task.priority == 0 %}
        <span class="badge badge-default">Low priority</span>
    {% elif task.priority == 2 %}
      <span class="badge badge-warning">Urgent</span>
    {% endif %}
{% endmacro %}

{% macro render_task_for_list(project, task) %}
<a href="/task/{{project.key.id()}}/{{task.key.id()}}"
   class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ task.title }}</h5>
        <h5>{{ render_task_badge(task) }}</h5>
    </div>
    <p class="mb-1">
        <small>
            Owned by <strong>{{ project.people[task.assigned_to].name}}</strong>,
            Updated {{ task.date_altered | datetime }}
        </small>
    </p>
</a>
{% endmacro %}
