{% macro render_task_badge(task) %}
    {% if task.status == 1 %}
        <span class="badge badge-pill badge-success">Complete</span>
    {% elif task.priority == 0 %}
        <span class="badge badge-pill badge-default">Low priority</span>
    {% elif task.priority == 2 %}
      <span class="badge badge-pill badge-danger">Urgent</span>
    {% endif %}
{% endmacro %}

{% macro render_task_for_list(project, task) %}
<a href="/task/{{project.key.id()}}/{{task.key.id()}}"
   class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-2">{{ task.title }}</h5>
        <h5 class="mb-2" ml-1>{{ render_task_badge(task) }}</h5>
    </div>
    <div class="d-flex w-100 justify-content-between">
        <div class="small mb-1">
            Assigned to <strong>{{ project.people[task.assigned_to].name}}</strong>,
            Updated {{ task.date_altered | datetime }}
        </div>
        {% if task.comments %}
            <div class="small ml-1">
                <i class="fa fa-comment-o" aria-hidden="true"></i>
                {{ task.comments|length }} comments
            </div>
        {% endif %}
    </div>
</a>
{% endmacro %}
