{% extends "layout.html" %}
{% block meta %} <meta name="robots" content="noindex"> {% endblock %}
{% macro render_radio_field(field) %}
<label for="priority">What is the priority ?</label>
<div class="btn-group mt-2 mb-2" data-toggle="buttons">
    {% for value, label, _ in field.iter_choices() %}
        {% if value == field.data %}
    <label class="btn btn-outline-info active">
            <input type="radio" autocomplete="off" name="{{ field.id }}"
                   id="{{ field.id }}" value="{{ value }}" checked>{{ label }}</label>
        {% else %}
    <label class="btn btn-outline-info">
            <input type="radio" autocomplete="off" name="{{ field.id }}"
                   id="{{ field.id }}" value="{{ value }}">{{ label }}</label>
        {% endif %}
    {% endfor %}
</div>
{% endmacro %}

{% macro render_select(field) %}
<div class="form-group mt-2 {% if field.errors %} error {% endif %}">
    <label class="control-label mb-0">{{ field.label }}</label>

    <div >
        {{ field(class='form-control')|safe }}
    </div>
</div>
{% endmacro %}

{% block body %}


<form action="{{ request.path }}" method=post>
    <div class="card">
        <div class="card-block">
            <!-- <h1 class="card-title"> Create task </h1> -->
            <div class="form-group {% if form.title.errors %} has-danger {% endif %}">
                {{ form.title(placeholder="Task title",class="form-control",id="title") }}
                {% if form.title.errors %}
                <span class="form-control-feedback">{{ form.title.errors[0] }}</span>
                {% endif %}
            </div>

            {{render_radio_field(form.priority)}}
            <div class="card-text form-group {% if form.description.errors %} has-danger {% endif %}">
                {{ form.description(placeholder="Optional description",class="form-control",id="description") }}
                {% if form.description.errors %}
                <span class="form-control-feedback">{{ form.description.errors[0] }}</span>
                {% endif %}
            </div>

            {{render_select(form.assigned_to)}}

            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check" aria-hidden="true"></i> Save</button>

            <a href="{{ url_for('view_project', project_key=project.key.id()) }}"
               role="button" class="btn btn-outline-primary">
                Cancel
            </a>
        </div>
    </div>
</form>

{% endblock %}
