{% extends "layout.html" %}
{% block body %}

<div class="jumbotron">
    <h1 class="display-2">Trixi</h1>
    <p class="lead">The world's simplest project management tool.<br>
        Plan something with your friends, your partner, your class or any group of people.
    </p>
    <p><a class="btn btn-lg btn-success" href="/new" role="button">Start now</a>
</div>

<!-- <div class="list-group">
  {% if previous_games %}
    <h3>Your previous stories</h3>
    {% for game in previous_games %}
      <a href="/game/{{game.url}}" class="list-group-item "  ga-on="click" ga-event-category="UI" ga-event-action="click on previous game">
        {{ game.status }}
      </a>
    {% endfor%}
  {% endif %}
</div> -->

<div class="row marketing">
    <div class="col-lg-6">
        <h2>Good clean fun</h2>
        <p>It takes less than 30 seconds to create a project</p>
    </div>
    <div class="col-lg-6">
        <h2>Zero effort and no pain</h2>
        <p>Works in a browser, no app install required, no email, no spam, no hassle.</p>
    </div>
</div>

<div class="row marketing">
    <div class="col-lg-8 offset-lg-2">
        <div class="card card-inverse card-success">
            <div class="card-block">
                <h2 class="card-title">Example Scenario</h2>
                <p>Jack and Jill were getting married. So the used KittyDo to plan everything</p>
                <p>It turned out to be a huge success.</p>
            </div>
        </div>
    </div>
</div>

<div class="row marketing">
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">I think that's the best tool I ever used. Change nothing!</p>
            <footer class="blockquote-footer">Mark from Berlin</footer>
        </blockquote>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">Love it, but could lead to a major social faux pas. You may end up with too much
                free-time.</p>
            <footer class="blockquote-footer">Amelia from London</footer>
        </blockquote>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">This is a great concept. My husband spent way too much time here.</p>
            <footer class="blockquote-footer">Blanca from Spain</footer>
        </blockquote>
    </div>

</div>


{% endblock %}
