{% extends "layout.html" %}

{% block nav %}
        <form class="form-inline my-2 my-lg-0">
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-sm btn-success" href="{{ url_for('new') }}" role="button">Create new project</a>
            </div>
        </form>
{% endblock nav %}

{% block body %}


{% if previous_projects %}
<h4 class="text-info">Your projects</h4>
<div class="list-group mb-2">
    {% for project in previous_projects|sort(reverse=True, attribute='date_altered')%}
    <a href="{{ url_for('view_project', project_key=project.key.id()) }}"
       class="list-group-item list-group-item-action flex-column align-items-start" ga-on="click"
       ga-event-category="UI" ga-event-action="click on previous project">
        <div class="d-flex w-100 justify-content-between">
            <div>
                <h5 class="mb-1">{{ project.name }}</h5>
                {{ project.people|length}} people
            </div>

            <small>Updated {{ project.date_altered | datetime }}</small>
        </div>
    </a>
    {% endfor%}
</div>
{% endif %}

<div class="jumbotron">
    <h1>Trixi is the world's simplest task management tool</h1>
    <p class="lead">Plan something with your friends, your partner, your class or any group of people.</p>

    <p><a class="btn btn-lg btn-info display-1" href="/new" role="button">Try it for free</a>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h2 class="text-success"><i class="fa fa-check fa-lg"></i> No signup</h2>
        <p >Works with links that you share with your collaborators so no email or password required.</p>

        <h2 class="text-success"><i class="fa fa-check fa-lg"></i> Super simple</h2>
        <p class="m-3">It takes less than 30 seconds to create a project and invite everyone involved.</p>
    </div>
    <div class="col-lg-6">
        <h2 class="text-success"><i class="fa fa-check fa-lg"></i> Totally free</h2>
        <p class="m-3">Trixi does not cost money. No subscription, no pricing plan, just getting stuff done.</p>

        <h2 class="text-success"><i class="fa fa-check fa-lg"></i> Made for mobile</h2>
        <p class="m-3">Optimized for mobile devices, works in your browser, no app install, no sync problems, no hassle.</p>
    </div>
</div>


<div class="card-deck">
    <div class="card card-outline-info mb-2">
        <div class="card-block">
            <h2 class="card-title">Use it for a wedding</h2>
            <p>Jack and Jill were getting married. They used Trixi to plan everything and keep everyone important in the loop.</p>
            <p>It turned out to be just right for managing everyone involved (7 people!)</p>
        </div>
    </div>

    <div class="card card-outline-info mb-2">
        <div class="card-block">
            <h2 class="card-title">...or a family reunion</h2>
            <p>Freddie planned a big family reunion using Trixi. 3 people were tasked with the organisation and had to be coordinated.</p>
            <p>Everyone could see the tasks they were assigned on their phones at any time.</p>
        </div>
    </div>    <div class="card card-outline-info mb-2">
        <div class="card-block">
            <h2 class="card-title">...or a coding project</h2>
            <p>Caspar wanted to make a web project. Whenever he had an idea he was able to enter it into Trixi.</p>
            <p>Bit by bit he completed every single task and launched his idea.</p>
        </div>
    </div>
</div>


<div class="row marketing">
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">I think that's the best tool I ever used. Change nothing!</p>
            <footer class="blockquote-footer">Mark from Berlin</footer>
        </blockquote>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">Love it. But be careful: but you could end up with too much free-time</p>
            <footer class="blockquote-footer">Amelia from London</footer>
        </blockquote>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">This is a great concept. Exactly what my husband needs for his dinner club.</p>
            <footer class="blockquote-footer">Blanca from Spain</footer>
        </blockquote>
    </div>

</div>


{% endblock %}
