{% extends "layout.html" %}

{% block nav %}
<nav class="navbar navbar-toggleable-md navbar navbar-light ">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="/">TRIXI</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
            <div class="d-flex flex-row-reverse">
                <a class="btn btn-sm btn-info" href="{{ url_for('new') }}" role="button">Create new project</a>
            </div>
        </form>
    </div>
</nav>
{% endblock nav %}

{% block body %}


{% if previous_projects %}
<h4 class="text-info">Your projects</h4>
<div class="list-group mb-2">
    {% for project in previous_projects|sort(reverse=True, attribute='date_altered')%}
    <a href="{{ url_for('view_project', project_key=project.key.id()) }}"
       class="list-group-item list-group-item-action flex-column align-items-start" ga-on="click"
       ga-event-category="UI" ga-event-action="click on previous project">
        <div class="d-flex w-100 justify-content-between">
            <div>
                <h5 class="mb-1">{{ project.name }}</h5>
                {{ project.people|length}} people
            </div>

            <small>Updated {{ project.date_altered | datetime }}</small>
        </div>
    </a>
    {% endfor%}
</div>
{% endif %}

<div class="jumbotron">
    <h1 class="display-1">Trixi</h1>
    <h2>The world's simplest task management tool.</h2>
    <p class="lead">Plan something with your friends, your partner, your class or any group of people.</p>

    <p><a class="btn btn-lg btn-info display-1" href="/new" role="button">Try it for free</a>
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h2 class="text-primary"><i class="fa fa-check"> </i>No signup</h2>
        <p>Works with links that you share with your collaborators so no email or password required!</p>

        <h2 class="text-primary"><i class="fa fa-check" ></i>Extremely simple</h2>
        <p>It takes less than 30 seconds to create a project and invite everyone involved.</p>
    </div>
    <div class="col-lg-6">
        <h2 class="text-primary"><i class="fa fa-check" ></i> Totally free</h2>
        <p>Trixi does not cost money. No subscription, no pricing plan, just getting stuff done.</p>

        <h2 class="text-primary"><i class="fa fa-check" ></i>Zero effort</h2>
        <p>Mobile first, works in your browser, no app install, no sync problems, no hassle.</p>
    </div>
</div>


<div class="card-deck">
    <div class="card card-outline-secondary">
        <div class="card-block">
            <h2 class="card-title">Example 1</h2>
            <p>Jack and Jill were getting married. They used Trixi to plan everything and keep everyone important in the loop.</p>
            <p>It turned out to be just right for managing everyone involved (7 people!)</p>
        </div>
    </div>

    <div class="card card-outline-info">
        <div class="card-block">
            <h2 class="card-title">Example 2</h2>
            <p>Freddie planned a big family reunion using Trixi. 3 people were tasked with the organisation and had to be coordinated.</p>
            <p>Everyone could see the tasks they were assigned on their phones at any time.</p>
        </div>
    </div>    <div class="card card-outline-success">
        <div class="card-block">
            <h2 class="card-title">Example 3</h2>
            <p>Caspar wanted to make a web project. Whenever he had an idea he was able to enter it into Trixi.</p>
            <p>Bit by bit he completed every single task and launched his idea.</p>
        </div>
    </div>
</div>


<div class="row marketing">
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">I think that's the best tool I ever used. Change nothing!</p>
            <footer class="blockquote-footer">Mark from Berlin</footer>
        </blockquote>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">Love it. But be careful: but you could end up with too much free-time</p>
            <footer class="blockquote-footer">Amelia from London</footer>
        </blockquote>
    </div>
    <div class="col-lg-4">
        <blockquote class="blockquote">
            <p class="mb-0">This is a great concept. Exactly what my husband needs for his dinner club.</p>
            <footer class="blockquote-footer">Blanca from Spain</footer>
        </blockquote>
    </div>

</div>


{% endblock %}
