{% extends "layout.html" %}
{% block body %}
<h2>Who's involved?</h2>
<p class="mb-1 mt-2">Enter the names of everyone who is participating.</p>
<form action="{{ url_for('people', project_key=project_key) }}" method=post>

    {% for person in form.people %}
    <div class="form-group {% if person.errors %} has-danger {% endif %}">
        {% if loop.index == 1 %}
        <!-- Own name first -->
        {{ person(class_="form-control", placeholder="Your name") }}
        {% else %}
        <!-- Everyone else -->
        {{ person(class_="form-control", placeholder="Person " ~ loop.index) }}
        {% endif %}
        {% if person.errors %}
        <span class="form-control-feedback">{{ person.errors[0] }}</span>
        {% endif %}
    </div>
    {% endfor %}

    <p class="text-muted"> <i class="fa fa-info-circle" aria-hidden="true"></i> You can add or remove people later.</p>
    <br>
    <input type="button" class="btn btn-lg btn-outline-primary" value="Back" onClick="history.go(-1);return true;">
    <button type="submit" class="btn btn-lg btn-primary" ga-on="click" ga-event-category="UI"
            ga-event-action="new game 2" id="next">Next
    </button>
</form>

{% endblock %}
