{% extends "layout.html" %}
{% block body %}

    <div id="action_bar" class="d-flex flex-row-reverse">
        <form class="form-inline" action="{{ url_for('view_project', project_key=project.key.id()) }}" id="choose_user"
              method=post>
            <input  id="user_id" name="user_id" type="hidden">

            <label for="choosePartyButton">You are </label>
            <div class="dropdown">
                <button class="btn btn-sm btn-secondary dropdown-toggle" type="submit" value="yes" id="choosePartyButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ current_user_name }}
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% for person in other_people %}
                    <a data-value="{{ person.id }}"
                       onclick="$('#user_id').val($(this).data('value')); $('#choose_user').submit()"
                       class="dropdown-item" href="#">{{ person.name }}</a>
                    {% endfor %}
                </div>
            </div>

            <a class="btn btn-sm btn-success" href="/edit" role="button">Edit project</a>
        </form>

    </div>
<br>
<div>
    <h2>{{ project.name }}</h2>
    <p class="text-muted">Created by {{project.people[0].name}} {{ project.date_created | datetime }}. Last update: {{
        project.date_altered | datetime }} </p>

    <a class="btn btn-lg btn-primary" href="{{ url_for('create_task', project_key=project.key.id()) }}" role="button"
       ga-on="click" ga-event-category="UI" ga-event-action="begin add task">
        <i class="fa fa-plus-circle" aria-hidden="true"></i> Add task</a>

    <br>
    <br>
    <br>
    <h3>Your tasks</h3>
    <div class="list-group">
        {% if tasks %}
        {% for task in tasks %}
        <a href="/task/{{project.key.id()}}/{{task.key.id()}}"
           class="list-group-item list-group-item-action flex-column align-items-start"
           ga-on="click" ga-event-category="UI" ga-event-action="click tasks">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ task.title }}</h5>
                <small>Updated {{ task.date_altered | datetime }}</small>
            </div>
            <!--<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>-->
            <!--<small>Donec id elit non mi porta.</small>-->

        </a>
        {% endfor%}
        {% else %}
        <p class="text-muted">No tasks have been created yet.</p>
        {% endif %}
    </div>

</div>
{% endblock %}
