{% extends "layout.html" %}
{% import "_macros.jinja" as macros %}
{% block body %}

<div>
    <a href="{{ url_for('view_project', project_key=project.key.id()) }}"
       role="button" class="btn btn-sm btn-outline-info">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back to project
    </a>
    <br>
    <br>
    <div class="card">
        <div class="card-header d-flex w-100 justify-content-between">
            <div>
                <h5 class="mb-1">{{ task.title }}</h5>
                Owned by <strong>{{ project.people[task.assigned_to].name}}</strong>.
                Updated {{ task.date_altered | datetime }}
            </div>
            <h5>{{ macros.render_task_badge(task) }}</h5>
        </div>

        <div class="card-block ">
            <p class="card-text">{{task.description|markdown}}</p>
            <a href="{{ url_for('edit_task', project_key=project.key.id(), task_key=task.key.id()) }}"
                class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
        </div>
    </div>
    <br>
    <form action="{{ url_for('toggle_task_status', project_key=project.key.id(), task_key=task.key.id()) }}"
          method=post>
        <button type="submit" class="btn btn-success">
            {% if task.status == 0 %}
            <i class="fa fa-check" aria-hidden="true"></i> Mark as completed
            {% else %}
            Mark as not completed
            {% endif %}
        </button>
    </form>
    <br>
    <div class="card">
        <div class="card-block ">
            <div class="card-title">
                <h6 class="mb-0"><i class="fa fa-comment-o" aria-hidden="true"></i> Comments</h6>
            </div>

            <div class="card-text">
                {% for comment in task.get_comments() %}
                    <p>{{ comment.text }}
                        <span class="text-muted">&mdash;&nbsp;{{project.people[comment.created_by].name}}</span>
                    </p>
                {% endfor %}

                <form action="{{ url_for('view_task', project_key=project.key.id(), task_key=task.key.id()) }}" method=post>
                    <div class="form-group {% if form.comment.errors %} has-danger {% endif %}">
                        {{ form.comment(placeholder="Add your comment!", class="form-control", id="comment") }}
                        {% if form.comment.errors %}
                        <span class="form-control-feedback">{{ form.comment.errors[0] }}</span>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn btn-sm btn-outline-success">
                        Comment
                    </button>
                </form>
            </div>

        </div>
    </div>
    <br>
</div>
{% endblock %}
