{% extends "layout.html" %}
{% import "_macros.jinja" as macros %}
{% block body %}

<div>
    <a href="{{ url_for('view_project', project_key=project.key.id()) }}"
       role="button" class="btn btn-sm btn-outline-info">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back to project
    </a>
    <br>
    <br>
    <div class="card">
        <div class="card-header d-flex w-100 justify-content-between">
            <div>
                <h5 class="mb-1">{{ task.title }}</h5>
                Owned by <strong>{{ project.people[task.assigned_to].name}}</strong>.
                Updated {{ task.date_altered | datetime }}
            </div>
            <h5>{{ macros.render_task_badge(task) }}</h5>
        </div>

        <div class="card-block ">
            <h6 class="card-subtitle mb-2 text-muted">

            </h6>

            <p class="card-text">{{task.description|markdown}}</p>
            <p>
                <small>Created {{ task.date_created | datetime }} by {{ project.people[task.created_by].name }}</small>
            </p>
            <form class="form-inline"
                  action="{{ url_for('delete_task', project_key=project.key.id(), task_key=task.key.id()) }}"
                  id="delete_task" method=post>
                <a href="{{ url_for('edit_task', project_key=project.key.id(), task_key=task.key.id()) }}"
                   class="card-link">Edit</a>
                <a href="#" class="card-link"
                   onclick="if (confirm('Are you sure?')) { $('#delete_task').submit() } else {return false}">Delete</a>
            </form>
        </div>
    </div>
    <br>

    <form action="{{ url_for('toggle_task_status', project_key=project.key.id(), task_key=task.key.id()) }}"
          method=post>
        <button type="submit" class="btn btn-success">
            {% if task.status == 0 %}
            <i class="fa fa-check" aria-hidden="true"></i> Mark as completed
            {% else %}
            Mark as not completed
            {% endif %}
        </button>
    </form>



</div>
{% endblock %}
