{% extends "layout.html" %}
{% import "_macros.jinja" as macros %}
{% block body %}

<div>
    <a href="{{ url_for('view_project', project_key=project.key.id()) }}"
       role="button" class="btn btn-sm btn-info">
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
        Back to project
    </a>
    <br>
    <br>
    <div class="card">
        <div class="card-block ">
            <div class="card-title d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ task.title }}</h5>
                <h5>{{ macros.render_priority(task.priority) }}</h5>
            </div>
            <h6 class="card-subtitle mb-2 text-muted">
                Created {{ task.date_created | datetime }} by {{ project.people[task.created_by].name }}
            </h6>
            <p class="card-text">{{task.description|markdown}}</p>
            <a href="{{ url_for('edit_task', project_key=project.key.id(), task_key=task.key.id()) }}"
                class="card-link">Edit</a>
            <a href="#" class="card-link">Delete</a>
        </div>
    </div>
    <br>

    <form action="{{ url_for('complete_task', project_key=project.key.id(), task_key=task.key.id()) }}" method=post>
    <p><button type="submit" class="btn btn-success">
            <i class="fa fa-check" aria-hidden="true"></i> Mark as completed
        </button></p>
    </form>



</div>
{% endblock %}
