{% extends "layout.html" %}
{% macro render_radio_field(field) -%}
<div data-toggle="buttons">
    {% for value, label, _ in field.iter_choices() %}
    <label class="btn btn-secondary">
        <input type="radio" autocomplete="off" name="{{ field.id }}" id="{{ field.id }}" value="{{ value }}">{{ label }}
    </label>
    {% endfor %}
</div>
{%- endmacro %}

{% block body %}
<h2>Welcome!</h2>
<p>This is the online project for <strong>{{ project.name }}</strong> created by {{ project.people[0].name }}</p>
<p>To begin, please select your name:</p>
<form action="{{ url_for('who_are_you', project_key=project.key.id()) }}" method=post>

    {{ render_radio_field(form.people) }}

    {% if form.people.errors %}
    <div class="text-danger">You must select your name!</div>
    <br>
    {% endif %}
    <br>
    <button type="submit" class="btn btn-lg btn-primary" ga-on="click" ga-event-category="UI"
            ga-event-action="who are you submit">Next
    </button>
    <br>
</form>


{% endblock %}
